body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eceffc;
    background-image: url("https://www.princetonreview.com/cms-content/How-To-Get-Into-Grad-School-With-Low-GPA.jpg");
}
  
.btn {
      background-color: rgba(201, 111, 26, 0.493);
      padding: 10px 25px;
      border-radius: 0;
      overflow: hidden;
}
.btn:hover {
    background: transparent;
    box-shadow: 0 0 30px 10px hsla(226, 80%, 46%, 0.5);
    cursor: pointer;
}
.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(3, 3, 3, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
        0 1px 1px rgba(128, 128, 128, 0.155),
        0 2.1px 2.1px rgba(128, 128, 128, 0.195),
        0 4.4px 4.4px rgba(128, 128, 128, 0.241),
        0 12px 12px rgba(128, 128, 128, 0.35);
}
