* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("./../img/pexels-pixabay.jpg") no-repeat fixed;
  background-size: cover;
  background-position: top;
  color: white;
}

.headtitle {
  font-family: "Georgia", sans-serif;
  font-size: 5rem;
  position: relative;
  top: 1.5rem;
  left: 3rem;
  text-shadow: 2px 4px 7px #db880c;
  display: inline-block;
}

.main {
  position: relative;
  display: inline-block;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: xxx-large;
  border-style: solid;
  padding: 20px;
  padding-top: 3rem;
  padding-left: 3.5rem;
  box-sizing: border-box;
  background-color: rgba(31, 31, 11, 0.623);
  border-radius: 40px;
  width: 37.5rem;
  box-shadow: 7px 3px 30px 0px rgba(50, 50, 50, 0.49);
  text-align: center;
}
.btn {
  background-color: #071113;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  height: 3rem;
}
.btn:hover {
  background-color: white;
  transform: translate(2%, -0.2rem);
  box-shadow: 0.5rem 0.75rem 1rem rgba(0, 0, 0, 0.5);
  color: black;
}
.btn:active {
  background-color: white;
  color: black;
  transform: translate(1%, -0.1rem);
  box-shadow: 0.2rem 0.3rem 0.75rem rgba(0, 0, 0, 0.5);
}
.textbox {
  border-radius: 6px;
  padding: 0.5px 5px;
  margin: 3px;
  margin-right: 25px;
  margin-left: 30px;
  box-sizing: border-box;
  display: inline-block;
  font-size: large;
  width: 12rem;
  height: 2.5rem;
}
.textbox:focus {
  border-width: 2px;
  width: 13rem;
  height: 2.75rem;
  transform: translate(-3px, 2px);
  box-shadow: 2px 6px 20px 5px rgba(0, 0, 0, 0.71);
}

@media (max-width: 900px) {
  .headtitle {
    font-size: 4rem;
    text-align: center;
    top: 1.5rem;
    left: 3rem;
  }
}

@media (max-width: 590px) {
  .headtitle {
    font-size: 4rem;
    text-align: center;
    top: 1.5rem;
    left: 3vw;
  }
  .main {
    transform: translate(-50%, -50%);
  }
}

@media (pointer: none), (pointer: coarse) {
  .main {
    padding: 20px;
    padding-top: 5rem;
    padding-left: 5rem;
    width: 50rem;
    height: 20rem;
    margin-top: 0vw;
    font-size: xxx-large;
  }
  .headtitle {
    font-size: 8rem;
    text-align: center;
    margin-top: 5vh;
  }
  .textbox {
    margin: 1rem;
    margin-right: 25px;
    margin-left: 7rem;
    width: 10rem;
    height: 3.25rem;
  }
  .textbox:focus {
    margin: 0.75rem;
    margin-right: 25px;
    margin-left: 5rem;
    width: 12rem;
    height: 3.6rem;
    transform: translateX(1rem);
  }
  .btn {
    font-size: 2rem;
    margin-top: 2rem;
    height: 4rem;
    transform: translateX(-20%);
  }
  .btn:hover {
  transform: translate(-22.5%, -0.3rem);
}
  .btn:active {
  transform: translate(-21%, -0.15rem);
}

}

